body{
    font-family: 'Ubuntu', sans-serif;
}
.header{
    width: 100%;
    max-width: 1212px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    font-weight: 700;
}
.header__burger{
    display: none;
    width: 40px;
    height: 20px;
    position: relative;
}
.burger__line{
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #5528FF;
    left: 0;

}
.burger__line_first{
    top: 0;
}
.burger__line_second{
    top: 50%;
    transform: translateY(-50%);
}
.burger__line_third{
    bottom: 0;
}

.footer{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #F7F7F7;
}
.wrap{
    width: 100%;
    max-width: 1212px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}
.nav__items{
    list-style-type:none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
}
.nav__item{
    margin-left: 35px;
}
.link{
    text-decoration: none;
    color: #202020;
}
.link:hover{
    text-decoration: underline;
    color: #5528FF;
}
.link.nav_btn{
    text-decoration: none;
    background-color: #5528FF;
    color: #fff;
    border-radius: 5px;
    padding: 6px 14px;
    border: none;
    font-weight: 700;
    cursor: pointer;
    transition: 0.05s;
}
.link.nav_btn:active,.link.nav_btn:hover,.link.nav_btn:focus{
    opacity: 90%;
}
.logo{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.logo_img{
    display: block;
    width: 58px;
    height: 58px;
    background-image: url(../img/logo.svg);
    margin-right: 24px;
}
.logo_text{
    font-size: 24px;
    color: #202020;
    transition: 0.1s;
}
.logo_text:hover{
    color: #5528FF;
    font-size: 36px;
}
.title-main{
    font-size: 55px;
    color: #202020;
    font-weight: 700;
    letter-spacing: 0.8px;
    margin-bottom: 0.4em;
}
.text-main{
    font-size: 32px;
    line-height: 1.6;
    color: #4F4F4F;
    max-width: 746px;
    margin-bottom: 2em;
}
.button{
    background-color: #5528FF;
    color: #fff;
    border-radius: 10px;
    padding: 16px 59px;
    border: 1px solid #5528FF;
    font-size: 24px;
    cursor: pointer;
    transition: 1ms;
    
}
.button:hover,.button:active, .button:focus{
    background-color: #fff;
    color: #5528FF;
}
.page{
    padding-top: 85px;
    padding-bottom: 109px;
    position: relative;
}
.page-top{
    border-top:1px solid #C2C2C2;
}
.page h2{
    position: absolute;
    top: -24px;
    font-size: 14px;
    font-weight: 300;
    background-color: #fff;
    padding: 5px 15px;
    color: #C2C2C2;
}
.services{
    display: grid;
    grid-template: repeat(2, 1fr) / 50% 50%;
    grid-row-gap: 38px;
}
.services-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.services_img{
    flex-basis: 165px;
    text-align: center;
}
.services-text{
    flex-basis: calc(80% - 165px);
}
.services h3{
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 17px;
}
.services p{
    font-size: 14px;
    color: #B2B2B2;
    line-height: 1.5;
}
.clients{
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(4, 25%);
    text-align: center;
    grid-gap: 30px;
    grid-row-gap: 44px;
    padding-top: 0px;
}
.team{
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    grid-row-gap: 51px;
    padding-top: 20px;
}
.team-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
.team-item img{
    margin-right: 35px;
}
.team-item>div{
    flex-basis: calc(100% - 100px);
}
.team-item h3{
    font-style: 28px;
    color: #202020;
    margin-bottom: 0px;
    margin-top: 7px;
}
.team-item p{
    font-style: 14px;
    color: #B2B2B2;
    
}
.box-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social{
    display: flex;
    padding-left: 0;
    list-style-type: none;

}
.social>li{
    margin-left: 40px;
}
.social>li>a{
    text-decoration: none;
    color: #B2B2B2;
    font-size: 24px;
}


/* 768px-992px */
@media screen and (max-width: 768px) {
    .header__nav{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #fff;
        z-index: 10;
        transform: translateX(100%);
        transition: .2s all linear;
    }
    .header__nav_active{
        transform: translateX(0);
    }
    .header__burger{
        display: block;
    }
    .header__nav-close{
        width: 40px;
        height: 40px;
        top: 20px;
        right: 20px;
        position: absolute;
        z-index: 11;
    }
    .header__nav-close-line{
        display: block;
        width: 100%;
        height: 2px;
        background-color: #5528FF;
        position: absolute;
        top: 50%;
    }
    .header__nav-close-line:first-child{
        transform: translateY(-50%) rotate(45deg);
    }
    .header__nav-close-line:last-child{
        transform: translateY(-50%) rotate(-45deg);
    }
    .nav__items{
        display: block;
        width: 100%;
        margin-right: 0;
    }
    .nav__item{
        margin-bottom: 30px;
    }
    .nav__item:last-child{
        margin-bottom: 0;
    }
    .link{
        font-size: 42px;
        line-height: 48px;
    }
    .clients{
        grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    }
}



/* 576px-768px */
@media screen and (max-width: 768px) {

    .services-item{
        flex-direction: column;
        margin-right: 39px;
    }
    .services-item:last-child{
        margin-right: 0;
    }
    .services_img{
        flex-basis: 0;
    }
    .clients{
        grid-template: repeat(2, 1fr) / repeat(2, 45%);
    }
    .team{
        grid-template: repeat(3, 1fr) / repeat(2, 1fr);
        grid-gap: 30px;
    }
}

@media screen and (max-width: 576px) {
    
    .page {
        padding-top: 25px;
        padding-bottom: 70px;
    }
    .nav__item{
        margin-left: 0;
    }
    .title-main {
        font-size: 30px;
    }
    .text-main {
        font-size: 18px;
    } 
    .services{
        grid-template: repeat(2, 1fr) / 100%;
    }
    .services-item{
        margin-right: 0;
    }
    .services h3 {
        text-align: center;
    }
    .services p {
        text-align: center;
    }
    .clients{
        grid-template: repeat(2, 1fr) / 100%;
    }
    .team{
        grid-template: repeat(2, 1fr) / 100%;
    }
    .social>li {
        margin-left: 35px;
    }
}

/* 0px-576px */